
/* General Styles */
body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: rgb(2,0,36); */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: black;
    text-align:center;
    padding: 0px;
   
}

header nav ul {
    list-style-type: none;
    padding: 0;
    /* text-align: center; */
    
}

header nav ul li {
    display: inline;
    margin-right: 20px;
   
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

header nav ul li a:hover {
    color: red;
    border-radius: 5px;
    font-size: larger;
}

section {
    padding: 40px 20px;
    margin: 30px auto;
    max-width: 900px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10%;
}

/* .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
} */

.container a{
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    color: black;
}

.container a:hover {
    color: #0056b3;
}

h1 {
    color: black;
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    color: darkblue;
    font-size: 1.8em;
    margin-bottom: 15px;
}

p, ul, li {
    color: black;
    font-size: 1.1em;
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}

.profile-photo {

    width: 50%;
    max-width: 300px; 
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30%;
   
}

.contact-info{
    padding-top:10px;
}

.contact-info p{
    text-align: center;
    display: inline;
    font-weight: bold;
    margin: 10px;
}
.contact-info a{
    text-decoration: none;
    color: #000;
}

.contact-info a:hover {
    color:  rgb(55, 46, 218);
}

 .project ul li p{
    font-weight: bold;
 }


.project-photo {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.social-media{
    padding-top: 20px;
}

.social-media p{
    padding: 5px ;
    margin: 0;
 
}

.social-media a {
    color: black;
    text-decoration: none;
    font-weight: bold;

}

.social-media a:hover{
    color: rgb(55, 46, 218);

}

/* Contact Form */
#contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

#contact-form label {
    margin-top: 10px;
}

#contact-form input, #contact-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form button {
    margin-top: 10px;
    padding: 10px;
    background-color:darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #0056b3;
}

#introduction{
    text-align: center;
}
#introduction p{
    font-size:x-large;
}
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
}

.menu-icon span {
    background-color: red;
    border-radius: 2px;
    height: 3px;
    margin: 4px;
    width: 25px;
    transition: transform 0.3s, opacity 0.3s;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color:black;
        position: absolute;
        top: 15px;
        left: 0;
        text-align: center;;
    }

    .nav-links.active {
        display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .menu-icon {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }
}
<<<<<<< HEAD
=======

/* @media (max-width: 480px) {
    .container {
        padding: 0 10px;
    }

    .profile-photo {
        max-width: 200px;
    }

    section {
        padding: 20px 10px;
    }
}
>>>>>>> 4c6037b58f11a1c3f2869ec0b612b6eaedf47910 */
